*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.center{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

section.topo{
    background-color: rgb(18, 110, 81);
    padding-top: 40px;
    padding-bottom: 60px;
}

section.topo h2{
    color: white;
    float: left;
}

section.times h2{
    margin-top: 20px;
    margin-bottom: 30px;
}

section.times textarea{
    width: 350px;
    height: 150px;
    resize: none;
}

.tabela-jogos-rodada1 p{
    position: relative;
    left: 270px;
    top: -65px
}

.tabela-jogos-rodada2 p{
    position: relative;
    left: 270px;
    top: -65px;
    margin-bottom: 13px;
}

.returno-rodada1 p{
    position: relative;
    left: 290px;
    top: -65px;
    
}

.returno-rodada2{
    margin-bottom: 15px;
}

.returno-rodada2 p{
    position: relative;
    left: 290px;
    top: -65px;
    
}

.resultados-rodada1 h2{
    margin-bottom: 20px;
}

.resultados-rodada2 h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultado-final h2{
    margin-top: 20px;
    margin-bottom: 20px;
}